header{
    background-color: rgb(122, 122, 122);
    height: 100px;
    display: flex;
    align-items: center;
    
}

h1{
    font-weight: bold;
    font-size: 100px;
    margin-left: 1%;
}

#menu{
    margin-left: px;
    margin-left: 550px;
}

a{
    font-size: 21px;
    text-decoration: none;
    margin-left: 35px;
    color: black;
    font-weight: bold;
}

a:hover{
    font-size: 25px;
    color: rgb(90, 209, 100);
}